pydantic-settings==2.10.1
httpx==0.28.1
boto3==1.40.25
pyarrow==21.0.0
deltalake==1.6.3
pyspark==4.0.0
pytest==8.4.2

psycopg[binary]==3.2.10
SQLAlchemy==2.0.43
alembic==1.16.5
dash==4.3.0
plotly==7.0.0
gunicorn==23.0.0
